<?xml version="1.0"?>
<robot name="robotiq_arg85_description">
  <link
    name="robotiq_85_base_link">
    <inertial>
      <origin
        xyz="0.00021987 -2.3546E-10 0.030163"
        rpy="0 0 0" />
      <mass
        value="0.30915" />
      <inertia
        ixx="0.00028972"
        ixy="-5.7879E-10"
        ixz="-1.8543E-06"
        iyy="0.00030737"
        iyz="1.682E-12"
        izz="0.00019914" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="/home/sudhir/robotics/git_hub_repos/pick-place-robot/meshes/robotiq_2f_85/visual/robotiq_arg2f_85_base_link.dae" scale="0.005 0.005 0.005"/>
      </geometry>
<!--       <material
        name="">
        <color
          rgba="0.1 0.1 0.1 1" />
      </material> -->
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="/home/sudhir/robotics/git_hub_repos/pick-place-robot/meshes/robotiq_2f_85/collision/robotiq_arg2f_85_base_link.stl" scale="0.005 0.005 0.005"/>
      </geometry>
    </collision>
  </link>

</robot>
